[2017-02-21 22:05] Rokt33r opened #1 "Improve error handling of KaTeX"
Current policy: **parsing anyway**

By default, it would be okay. But there might be needed to throw error when linting markdown.

Also, the error should be announced to `remark-linter`.

[2017-02-21 22:12] Rokt33r opened #2 "Extend remark-stringify for remark-math"
Currently, rendering markdown with math block requires to use remark-html.
Remark-stringify should be able to render math inlines and blocks from their node.

[2017-02-22 18:31] Rokt33r opened #4 "remark-math-katex"
I think the usage of `remark-math-katex` should be like the following.

[code]

The problem is that `remark-math-katex` can not access `options.handlers` of `remark-html`.

Of course, if I provide `data.hName` and `data.hChildren`, this can be solved easily.

But here comes another problem. I think `math` and `inlineMath` should use `value` as its content, instead of `children: [{type: 'text', val

[2017-02-22 18:33] Rokt33r commented on #4
@wooorm Could you tell me which solution is the ideal? Sorry for annoying.

[2017-02-23 10:56] wooorm commented on #4
I think remark-math should just deal with math in markdown, adding support for `inlineMath` (`{type: 'inlineMath', value: 'x'}`) and `math` nodes (`{type: 'math', value: 'x'}`).

So remark-math deals with markdown only: parsing from markdown, compiling to markdown.

Then, it’s probably a good idea to add `hName`, and `hProperties` to those math nodes.
As that would result in remark-vdom, remark-ht

[2017-02-28 17:13] wooorm opened #5 "Update for changes in remark"
Hi! 👋

remark just changed: you can read more about the changed [here][1].

That means that this plugin doesn’t work with the latest remark. If you get around to updating, use the previously mentioned changelog for help, but feel free to respond below or ask questions on [Gitter][2]!

[1]: https://github.com/wooorm/remark/releases/tag/7.0.0
[2]: https://gitter.im/wooorm/remark
[3]: https://github.

[2017-03-03 22:22] #1 closed

[2017-03-03 22:22] #2 closed

[2017-03-03 22:22] #4 closed

[2017-03-03 22:22] #5 closed

[2017-03-03 22:23] Rokt33r commented on #5
Fixed. :smile:

[2017-03-03 22:23] Rokt33r commented on #2
Fixed #3

[2017-03-03 22:23] Rokt33r commented on #1
Fixed #3

[2017-03-03 22:23] Rokt33r commented on #4
Applied #3

[2017-03-08 19:43] wooorm opened #7 "Add projects to list of plugins"
* remark: https://github.com/wooorm/remark/blob/master/doc/plugins.md
* rehype: https://github.com/wooorm/rehype/blob/master/doc/plugins.md

[2017-03-09 00:07] Rokt33r commented on #7
I've forgotten it. Thanks for reminding. 😄

[2017-03-09 07:28] wooorm commented on #7
👍 take your time :)

[2017-03-09 10:48] Rokt33r commented on #7
I create PRs. It is okay to edit those description. :smile:

- https://github.com/wooorm/remark/pull/243
- https://github.com/wooorm/rehype/pull/9

[2017-03-09 10:48] #7 closed

[2017-03-23 23:18] Rokt33r opened #8 "Flexibility of math syntax"
There are tons of styles to present `displayMath` and `inlineMath`. The current version(v0.2) is also one of the dialects.

We could switch the most famous rule. But, it won't satisfy everyone's need. So, I'm going to give options to choose your favorite syntax style.

[code]

Currently, @vhf is trying to implement [the one of kramdown](https://github.com/cben/mathdown/wiki/math-in-markdown#kramdo

[2017-03-23 23:25] vhf commented on #8
Actually I misunderstood my users needs, it's not kramdown because kramdown has no way to express display math in middle of paragraph.

I'll work on adding the following option if that's ok for you. Current behaviour is : $ and $$ inline. $$ on its own line makes a block. What I'll do is that it doesn't depend on the context:

* $ inline
* $$ inline puts formula on its own line but still inside th

[2017-03-24 00:24] Rokt33r commented on #8
Hmm... The syntax looks fine. But, putting block-level elements into a paragraph seem to be quite **harmful**.

**HTML forbid it explicitly**, although it looks fine *semantically*.
https://www.w3.org/TR/html401/struct/text.html#h-9.3.1

[2017-03-24 08:25] vhf commented on #8
Yes, I'm not advocating putting a block element inside a paragraph. In the above example, I'd see Paragraph 3 like : `<p>Foo … <br><span class="math">…</span><br> … bar.</p>`.

(P1 would be as it is now, and P2 would be what `$$\nformula\n$$` currently does)

That's what I'd like to avoid. A long formula or equation inside a paragraph is fine, but it's hard to read if we cannot put it centered on

[2017-03-24 12:39] Rokt33r commented on #8
Oh,,... I see. This seems to be just an aesthetic issue.

Eventually, the math in P3 is just **another inlineMath** although it looks like a block.

So, here is my suggestion:

1. Fork `remark-math` instead of creating a new PR because this feature is quite peculiar.
  If there are many people want this, we could merge it later. :smile:
2. Define `displayMath` node type.
  It is almost ready to go

[2017-03-24 18:51] vhf commented on #8
Ok, thanks @Rokt33r .

Since I'd like to avoid maintaining a fork (and having to replicate the good work you're doing here in my fork), let me suggest an easy solution: we add another class to the inlineMath spans when the syntax is `$$`.

This way I can simply fix my issue with CSS, something like: `p > .inlineMath.inlineMathDouble { display: block; }`.

What do you think?

[2017-04-04 19:47] vhf opened #10 "throwOnError doesn't Katex exceptions"
Here is what I ran into:

[code]

Here is a failing test case: https://github.com/vhf/remark-math/commit/03becb26113f235efc46119d2f183106ffd03f69

Pulling this commit and running tests crashes rehype-katex. Here is the branch: https://github.com/vhf/remark-math/tree/throw-on-error

[2017-04-05 00:25] Rokt33r commented on #10
Thanks for reporting. I'll check it today evening! 😄

[2017-04-05 14:37] Rokt33r commented on #10
Actually there is some fall back of KaTeX. But, it doesn't seem to be cover all of cases. Instead of show error, I think showing the original input with high-lightening would be easy to understand, for user, what they've done wrong.

<img width="494" alt="screen shot 2017-04-05 at 23 34 25" src="https://cloud.githubusercontent.com/assets/5865853/24710557/6ef99cae-1a58-11e7-8133-edce3a643119.png">

[2017-04-05 16:24] Rokt33r commented on #10
@vhf Be aware.
I'm going to setting `inlineMathDouble` class of `remark-math` to be optional just like `rehype-katex doing`.
Although it is not harmful, many people would be confused because there are 2 classes.

[2017-04-05 17:11] vhf commented on #10
@Rokt33r Sure, thanks for the heads up!

[2017-04-06 12:44] Rokt33r commented on #10
@vhf I fixed. Also, I renamed options. You can check here.
https://github.com/Rokt33r/remark-math#usage

[2017-04-06 12:44] #10 closed

[2017-08-13 14:13] vhf opened #11 "Escaping $ and $ in raw should not get parsed as math"
`remark-math` has a quite painful parsing bug due to this regular expression: https://github.com/Rokt33r/remark-math/blob/2445b979253214997174092785589386d79892e5/packages/remark-math/inline.js#L6

How to reproduce:

    $foo\$

Explanation: This gets matched by the regex because it starts with `$`, ends with `$`, and between the starting `$` and ending `$` there's no `\$`.

Also an issue:

    $f

[2017-08-15 05:41] Rokt33r commented on #11
Published! Thanks for the contributing.

[2017-08-15 05:41] #11 closed

[2017-08-15 05:43] vhf commented on #11
Awesome, thanks for the quick response!

[2017-10-26 18:57] viggyfresh opened #14 "Bump peer dep for remark-parse"
Hi there! I've been using `remark-math` on a React/Redux/Electron/TypeScript project with `remark-parse` at >=v4.0.0 with no (known) issues. I hadn't really been paying attention to Yarn warnings, but I came across this when setting up a new dev machine:

warning "remark-math@1.0.1" has unmet peer dependency "remark-parse@>=3.0.0".

Any chance you could bump the peer deps on this repo?

[2017-10-27 01:03] Rokt33r commented on #14
Thanks to notice. I'll fix it in 24 hours.

[2017-11-11 18:01] viggyfresh commented on #14
Bumping this - I'm more than happy to file a PR if that helps, but I figure @Rokt33r will need to tag a release anyway

[2017-11-12 06:40] Rokt33r commented on #14
I'm really sorry. I've forgotten do it. I'll do it now.

[2017-11-12 06:51] Rokt33r commented on #14
@viggyfresh Could you create a PR for this? I'm not sure how should I fix this. Is it enough to bump the version of remark-parse to `>=v4.0.0`?

[2017-11-12 09:27] viggyfresh commented on #14
I think the convention is to have different version ranges for different major versions...for example:

[code]

So in this case, `"remark-parse": ">=3.0.0 || >= 4.0.0"`?

[2017-11-12 12:20] Rokt33r commented on #14
@viggyfresh Done. Let me know if you have still the problem.
https://github.com/Rokt33r/remark-math/commit/a64fccfa695b1f7dcc9954c949041d73cc61c888

[2017-11-12 12:20] #14 closed

[2017-11-12 22:36] viggyfresh commented on #14
Hi there,

Oddly enough, this is still causing grief even with v1.0.2. This might be a bug in Yarn's dependency resolution, but could you try this instead?

[code]

[2017-11-13 01:54] Rokt33r commented on #14
I've published again.
https://github.com/Rokt33r/remark-math/commit/7e334a60436639827b96ac520bcb7614bc4d0d08

[2017-11-13 03:16] viggyfresh commented on #14
Thanks @Rokt33r for all the efforts...turns out we were chasing a red herring:

https://github.com/yarnpkg/yarn/issues/4850
https://github.com/yarnpkg/yarn/issues/4765

In any case, I think we're all set on the `remark-math` side! thanks again.

[2017-11-13 04:24] Rokt33r commented on #14
Glad to hear that! 😄 Thanks for the contributing!

[2018-01-03 06:26] blueberryapple opened #15 "subscripts and superscripts broken with latest katex 0.9.0 alpha 2"
with the latest version of katex, the output of
[code]
looks like
![image](https://user-images.githubusercontent.com/9259833/34510634-83457100-f00a-11e7-9d34-d9696d6ebfa0.png)

[2018-01-03 06:45] Rokt33r commented on #15
RemarkMath is just using API of katex. It should be better to write another issue in katex repository.

Btw, I assume this is because you forget providing `<!DOCTYPE html>`.

[2018-01-03 08:23] blueberryapple commented on #15
It's not an issue with katex, because [with vanilla katex the output is fine.](https://codepen.io/anon/pen/GyvJxO?editors=1000) It's also not an issue of not including the doctype because I did include it. However, if I downgrade to katex 0.7.1 then it renders correctly. This is why I created an issue in remark math instead of the katex repo.

[2018-01-03 08:56] Rokt33r commented on #15
As I said, RemarkMath is just using KaTeX API. It doesn't do anything for actual rendering, so I cannot help you.

And, it is still alpha. Please submit another issue to KaTeX.

[2018-01-03 08:56] #15 closed

[2018-01-28 22:15] sandhose opened #16 "Use KaTeX AST instead of reparsing the whole tree"
Right now remark-math uses KaTeX's `renderToString` method to generate HTML, then reparses it directly afterwards using `rehype-parse`.

This is expensive, but was necessary because KaTeX used to not expose their internal AST.

I opened a while ago an issue on their side to expose this AST in order to have better renderers. It seems like now they do. https://github.com/Khan/KaTeX/issues/800#issuec

[2018-01-29 18:21] Rokt33r commented on #16
Sounds reasonable!

[2018-02-01 09:27] episodeyang commented on #8
@Rokt33r @vhf This problem has came up before. Here is my summary:

1. Use `span.displayMath` for the display math blocks inside paragraphs. Semantically this is crucial. This is supported by math-jax -- use of `span` tag for display math is enabled by default.

2. In html contenteditable, `node.style.display=block` will cause containing block elements to break apart in some browsers. Namely some

[2018-02-01 09:29] episodeyang commented on #8
In my app I am not affected by the compiling step b/c I am using my own react renderer. However, I am affected by the semantic correctness of the parsing.

[2018-02-01 09:41] episodeyang commented on #8
I looked at the PR, and noticed that you are calling it inlineDouble.

In LaTeX all display math and inline-blocks. A display math block never exist standalone, and it is assumed that it is always wrapped by a paragraph. The display:block aspect of the displayMath from math-jax is a pure html concept and it diverges from those of the LaTeX layout algorithm.

We shouldn't call it `inlineDouble`. We

[2018-02-01 09:45] episodeyang opened #17 "adding LaTeX environment without mathmode"
In LaTeX, you can use `\begin{array}` without the `$$` b/c the array environment includes a standalone math environment. There are also text model LaTeX commands such as `\emph` that can be used in text (without `$` b/c they are textmode commands).

To achieve complete mixed LaTeX markdown syntax, we could add support to basic LaTeX command parsing + some white listed environments. We could even a

[2018-02-01 09:59] vhf commented on #8
@episodeyang thanks, I'm all in favour of getting the semantics right.

Could you please clarify, for each of the following examples, how you think they should be named and what you think an ideal HTML markup would be?

[code]

Here is what it currently does, with `p`s highlighted in lightgreen and `div`s highlighted in lightblue.

<img width="593" alt="screen shot 2018-02-01 at 10 57 08" src="htt

[2018-02-01 10:00] Rokt33r commented on #17
I think it is too much for `remark-math`. 🤔  I suggest you to create another library to achieve it.

[2018-02-01 10:15] episodeyang commented on #8
@vhf absolutely! Thanks for your reply. I will check the `ast` in my next reply since there might be some subtleties with the AST that doesn't show in the html.

It is getting late in Chicago (4AM), so I will come back to this tomorrow :P Again thanks for this great work!

[2018-02-01 16:10] episodeyang commented on #8
I took a look at the output:

* I think **3** and **4** should be treated the same way for the following reasons

As long as you enter display math mode, `line-return` and non-white space characters right after the `$$` should be treated as a single line. For example:
<table><tbody><tr>
<td>
[code]
</td>
<td>
[code]
</td>
</tr></tbody></table>

In addition, when a stand-alone math block appears, i

[2018-02-01 16:27] vhf commented on #8
I agree and disagree at the same time. Let me explain.

There are two main math environment in Latex [(some explanation)](https://tex.stackexchange.com/questions/40492/what-are-the-differences-between-align-equation-and-displaymath):

1. `$$ ... $$`
2. `\[ ... \]` (same as `\begin{displaymath} ... \end{displaymath}`

Now I totally agree the following two would produce the exact same thing in LaTeX

[2018-02-01 16:36] episodeyang commented on #8
That make sense. Most users doesn't use the `\[ \]` syntax.

However I think the design choice should be done with a certain depth to it. What I mean by this is that for people who are familiar with `\[` and `\(`, they are going to expect a multi-line `$$\n newline\n$$` to behave the same way as a single line `$$math$$`.

In this sense it is perfectly fine to have two different `type` for `\[<...>

[2018-02-01 16:45] vhf commented on #8
Yep, we're already in macro-land, but this package focuses on math. I have no idea which other latex environments KaTeX supports?

Back to `$$` vs `\[`, I understand your concern but I'm not sure it'd be worth changing the syntax we currently use. Perhaps giving examples of the markdown syntax you'd like to use for both of these math environment would help?

[2018-02-01 16:53] episodeyang commented on #8
Sorry about the digression. I will move that to a different thread.

Here are what I suggest as the syntax: There will be only one type of displayMath. The delimiters are saved in the delimiter data key for the math block

<table><tbody><tr><td><pre lang="markdown">
A paragraph $$<no space here>
\alpha + \beta
$$
</pre></td><td><pre lang="js">
{
   type: "paragraph",
   children: [
       {type: t

[2018-02-01 17:09] episodeyang commented on #4
@wooorm given that we use a rehype plugin for the generation of the html, I think we should remove the `h<>` keys in the ast. They are redundant and sometimes incorrect, for example when an exposed `math` node is exposed directly without a wrapping paragraph. In that case there should be a wrapping paragraph.

* This is based on the idea that `math` nodes are in fact inline display blocks that has

[2018-02-01 17:30] vhf commented on #8
I like these suggestions except for the node types. They should be different, at the very least to be able to add different classes to them.

The way we currently use `\[`, we generate a `div` to get the math outside of a paragraph. We could also have it in a paragraph instead, that's not an issue, but we need to get somewhat close to what `\[` does in latex when it's at the beginning of a paragra

[2018-02-01 21:52] episodeyang opened #18 "dist version is not compiled down to es5"
I am running into this problem while using `react-scripts`.

When a project uses `remark-math`, if we run `react-scripts build`, CRA tool reports this error:
[code]

Inspection of the file above shows that this index.js uses a es2015 feature: default value for function parameters. The file looks like this:
[code]

I'm not familiar with `lerna`, is it possible to compile the dis version to es5? Thi

[2018-02-01 21:57] episodeyang commented on #18
Here is the official recommendation:

https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

[2018-02-03 12:38] wooorm commented on #4
@episodeyang Sure, makes sense!

[2018-02-03 17:29] episodeyang commented on #8
@vhf I see, so you are mostly concerned about how to handle the presentation styling.

To emulate `\nointerlineskip`, I usually do this in my css:
[code]

Would something like this work in your case?

For what `\[` does, we can reference David Carlisle's answer here: [`\[` is the shorthand of `\begin{displayMath}`](https://tex.stackexchange.com/a/69854/66807)

After reading his answer I am tempted

[2018-02-04 17:32] Rokt33r commented on #18
@episodeyang The scripts in `dist` doesn't have to be tracked by git. But we can deploy them to npm.

Btw, if using `module` property works, I can fix it easily.

[2018-02-04 18:53] episodeyang commented on #18
@Rokt33r thanks for your reply! I spend half an hour looking for the answer: here is the relevant bits from web pack's issue. TLDR; module field should use es6 syntax, but it shouldn't contain other ES6 features b/c TypeScript users might have problem.

The issue with `index.js` is the default value for function parameter. So placing the code under module might break for TypeScript users. Although

[2018-03-15 06:37] zwz opened #21 "How to customize the delimiters?"
In README, it says

That is what I want. And I want more as follows:
[code]

I really do not want `$` as inline math delimiter. And $$...$$ for inline math and $$\n...\n$$ for display math is good enough.
The benefit is that there is no need to escape `$` in regular text for a dollar sign in most cases.

[2018-05-05 11:22] unindented opened #22 "remark-parse 5.0.0"
Is there anything preventing the project from accepting `remark-parse` `5.0.0` as a peer dependency?

[2018-05-05 12:35] wooorm commented on #22
@unindented Why would you like a defined peer dependency?

[2018-05-06 16:55] unindented commented on #22
@wooorm you already have one: https://github.com/Rokt33r/remark-math/blob/b4fb470af9b957312ee0faa2885310accda93db5/packages/remark-math/package.json#L25

I was asking if there was anything preventing from adding `5.0.0` there.

[2018-05-08 01:43] #22 closed

[2018-05-10 03:35] MathiasSM opened #24 "Update dependencies"
`remark-parse` is now on 5.0.0

[2018-05-10 09:17] Rokt33r commented on #24
https://github.com/Rokt33r/remark-math/pull/23
I'll publish it now. :)

[2018-05-10 09:17] #24 closed

[2018-06-19 06:06] ibrahima commented on #21
I agree with this completely, for exactly the reason you specified. It's too easy for someone to accidentally trigger LaTeX with single dollar signs, especially if it's in the larger context of Markdown formatting where a much greater portion of users are completely unaware of LaTeX while a small number need to use it. A user who doesn't even know about LaTeX isn't going to know about escaping dol

[2018-06-19 06:09] ibrahima commented on #18
Hi! Are there any updates on this? This appears to be breaking my build, UglifyJS seems to choke after I added remark-math to my project. Would love to help out if there's any way for me to do so, because I don't think I can use this otherwise, but it would greatly help my use case.

[2018-06-19 07:06] ibrahima commented on #16
Just to be clear, this is only applicable to `remark-html-katex`, right? `remark-html` itself has nothing to do with KaTeX, it's just parsing out LaTeX nodes for remark?

[2018-06-23 03:39] zwz commented on #21
Nice!
But what to denote **inline math** and **display math** respectively, after disabling single dollar sign?

[2018-06-23 08:56] ibrahima commented on #21
That should be sufficient, no? It already works like that without any changes.

[2018-06-26 07:13] zwz commented on #21
Great!

[2018-06-26 07:13] #21 closed

[2018-11-13 07:28] Rokt33r commented on #18
Fixed.
https://github.com/Rokt33r/remark-math/commit/eb1b81288adf85738007991f2db31dd83e35fe70

[2018-11-13 07:28] #18 closed

[2019-03-24 16:24] SurjitSahoo opened #29 "Could not find a declaration file for module 'remark-math'"
I'm trying to use it as a plugin for react-markdown. I get the following error
`Could not find a declaration file for module 'remark-math'`
I tried to install types for it. using `npm install @types/remark-math` but I get 404 error. Please make it available

[2019-03-24 16:33] #29 closed

[2019-08-07 01:57] Rokt33r opened #30 "Transfer ownership to remark"
As I commented here, I want to transfer ownership of this repo to remark.
https://github.com/mdx-js/mdx/issues/712#issuecomment-518907816

@wooorm Could you tell me what should I do?

[2019-08-07 07:46] wooorm commented on #30
This process is called a [governance grant](https://github.com/unifiedjs/governance/blob/master/governance-grant.md), except that those docs are for outside maintainers (you’re a member).

#### Steps for you

- You may be able to move the project into the @remarkjs GitHub organisation. Otherwise you can transfer the repo to me and I can do that.
- Next would be to give me admin access on npm as we

[2019-08-07 14:49] Rokt33r commented on #30
@wooorm Done!

[2019-08-07 17:24] wooorm commented on #30
Sweet!

[2019-08-08 10:12] wooorm commented on #8
Folks, I’m going to close this. It’s a wonderful thread with great ideas, but it doesn’t seem like there’s something actionable that came out of it.

This project is now maintained under remarkjs. Please raise a new issue if this is still relevant and we can go from there!

[2019-08-08 10:12] #8 closed

[2019-08-08 10:28] wooorm commented on #16
@ibrahima This relates to `rehype-katex` and `remark-html-katex`. They both include an HTML parser because KaTeX spits out an HTML string that needs to be transformed into our AST.

I’ve reacher out to KaTeX people again and may be able to work on using hast in KaTeX.

[2019-08-08 10:30] wooorm commented on #17
I think the backslash will mess with markdown (as a backslash is an escape). I’d advice against this. So I’ll close it here.

If you‘d like it though, you can create your own plugins! Just like `remark-math`, and if it spits out `math` and `inlineMath` nodes, it’ll work with `rehype-katex`!

[2019-08-08 10:30] #17 closed

[2019-08-08 10:30] wooorm commented on #30
Done!

[2019-08-08 10:30] #30 closed

[2019-08-08 10:42] wooorm opened #31 "Use dashes for classes instead of camelCase"
### Subject of the feature

Classes in HTML/CSS are typically written as lowercase and with dashes: `this-that`, not `thisThat`.

### Problem

This library uses camelcase.

### Expected behaviour

* Block math: `<div class="math math-display>`
* Inline math: `<span class="math math-inline>` (optionally with `math-display` class for `$$`)

/cc @Rokt33r

[2019-08-08 10:43] wooorm commented on #31
If this is approved, I’d also want to suggest to drop the tag name check:

https://github.com/remarkjs/remark-math/blob/fd26772a91b9f5a56033451591c00f77cfd0691f/packages/rehype-katex/index.js#L28-L33

...And just check classes (that way HTML authors, so without `remark-math`, can use other tag names)

[2019-08-08 10:45] wooorm opened #32 "Drop “experimental” stamp on inline double math"
### Subject of the feature

Drop “experimental” stamp on inline double math.

### Problem

I’m not sure why it’s experimental.

### Expected behaviour

Drop it.

### Alternatives

Or alternatively, clarify why it’s marked as experimental.

/cc @Rokt33r

[2019-08-08 14:08] Rokt33r commented on #31
Both make sense to me. I guess this should be major changes! I'll try it in this week.

[2019-08-08 14:10] Rokt33r commented on #31
Oh you're already working on it! I'll keep tracking the changes then.

[2019-08-08 14:16] Rokt33r commented on #32
I agree! It became meaningless now.

[2019-08-08 14:35] #32 closed

[2019-08-08 15:07] #31 closed

[2019-08-08 15:08] wooorm commented on #31
Perfect! I’d like to see if KaTeX will move to hast, and based on that cut a new major release!

[2019-08-12 12:46] wooorm commented on #16
I don’t think it’s useful to track this there as it’s tracked upstream. Closing.

[2019-08-12 12:46] #16 closed

[2019-08-27 09:30] TitiAlone opened #33 "Prevent spaced inline math from being parsed"
### Subject of the issue

Math is breaking a perfectly normal sentence with dollar signs, therefore we would like to prevent spaced inline math from being parsed.

### Your environment

All OSes and versions are impacted; the renderer needs to use at least remark-math and rehype-katex, I am not sure which one of the two is causing the problem, altough I would go for [these Regex](https://github.co

[2019-08-30 09:14] wooorm commented on #33
@TitiAlone Hi there, thanks for the detailed issue!

Could you expand on math to be different than code?

[code]

Yields:

[code]

You can also escape dollars btw:

[code]

[2019-08-30 09:28] TitiAlone commented on #33
Well, I was thinking about emphasis and strong emphasis that require no space between the opening `*` character and the content or between the closing `*` and the content.

I know this is not handled by remark right now, but GFM example 360 and CommonMark example 351 require it:

*This is not emphasis *

Seems to me like it's not natural to escape the `$` sign with a backslash while it is used for

[2019-08-30 09:40] wooorm commented on #33
Yeah, remark-parse currently doesn’t handle emphasis correctly according to CM, that’s a bug and should be fixed (in micromark).

Still, the question is whether math is like code or like emphasis.

**Like emphasis/importance**: One way to look at is, is whether the marker (`$`, `*`, `_`, `` ` ``) is used in “normal” text, and I think you’re right that the dollar (`$`) is used more frequently than

[2019-08-30 10:01] TitiAlone commented on #33
What do we do, then? My opinion on this is to treat it like emphasis, but how to decide?

[2019-08-30 10:04] wooorm commented on #33
Emphasis is not entirely the same as the third option (pandoc), did you see the digit handling?

[2019-08-30 10:09] TitiAlone commented on #33
I don't really see the difference, it is stated that

which makes it the same?

[2019-08-30 10:26] wooorm commented on #33
I think that’s covered by this test:

https://github.com/waylonflinn/markdown-it-katex/blob/81b84a7d91d74a1ba3d4769b847a5bf1947256cb/test/fixtures/default.txt#L185

[2019-08-30 10:51] TitiAlone commented on #33
Now I see the difference; I like this syntax; moreover, it's a "convention" in some way. No idea if it is simple to implement, but following this rule would be great.

[2019-08-30 12:22] wooorm commented on #33
Yeah! I like going with the “standard” of the extension. And there’s tests.

Can you work on a PR implementing it?

[2019-08-30 13:05] TitiAlone commented on #33
I tried before opening the issue, but did not succeed. My major problem was to be able to detect opening vs. closing `$` using the actual Regex method.

[2019-08-30 16:03] wooorm commented on #33
Alright, working on it. I’ve got the inline part done, but it seems there’s also two parts in block math where `markdown-it-katex` differs from `remark-math`, I’ll figure that out in the coming days!

[2019-08-30 16:05] TitiAlone commented on #33
Thanks a lot, will look forward for your changes.

[2019-09-02 16:52] Rokt33r opened #36 "Rendered screenshot looks broken..."
<img width="138" alt="Screen Shot 2019-09-03 at 1 51 20" src="https://user-images.githubusercontent.com/5865853/64127611-5b0c8080-cded-11e9-84cf-766083e1a034.png">

It renders `L` twice. I'll submit a pr in this weekends if no one working on it.

[2019-09-02 18:34] #33 closed

[2019-09-03 06:38] #36 closed

[2019-10-08 19:32] LGTM-badger opened #38 "Migrate LGTM.com installation from OAuth to GitHub App"
Hi There,

This project is still using an old implementation of LGTM's automated code review, which has now been disabled. To continue using automated code review, and receive checks on your Pull Requests, please [install the GitHub App](https://github.com/apps/lgtm-com/installations/new) on this repository.

Thanks,
The LGTM Team

[2019-10-08 19:48] wooorm commented on #38
@Rokt33r I think we can ignore this?

[2019-10-10 08:31] Rokt33r commented on #38
@wooorm We can ignore it. :)

[2019-10-10 08:31] #38 closed

[2020-03-16 22:12] ChristianMurphy commented on #36
@Rokt33r how did you resolve this?
A similar double render is being seen at https://spectrum.chat/unified/remark/remark-math-on-docusaurus-v2~220079aa-2dab-4d2e-b39a-a33563107dc5

[2020-03-25 17:44] Rokt33r commented on #36
@ChristianMurphy Sorry I was too busy. And yeah, Titus's answer is right. It happens when the css is not loaded.

[2020-04-12 03:27] Ir1d opened #39 "Will \( \) style math formula be supported"
### Subject of the feature

Describe your issue here.

in some mathjax configs people write `\(a+b\)` as formulas, will this be supported?

### Problem

If the feature requests relates to a problem, please describe the problem you are trying to solve here.

### Expected behaviour

What should happen?  Please describe the desired behaviour.

parse `\(\)` as inline and `\[\]` as dispay

### Alternat

[2020-04-12 06:42] wooorm commented on #39
While supporting this wouldn’t be too hard to implement (although brittle: the backslashes, parens, and square brackets will interfere with other Markdown constructs, whereas dollars are not in use), I’m not really in favor of adding it: I prefer that remark (and other markdown parsers) push a single way to do things. Having multiple ways to do a similar extension makes the Markdown you write less

[2020-04-12 06:50] Ir1d commented on #39
I totally agree with you. Lets stick with `$` and `$$`

[2020-04-12 06:50] #39 closed

[2020-04-12 06:51] wooorm commented on #39
If someone wants this btw, `packages/remark-math` can be forked to add that. `rehype-katex` and such will still work if you expose the same math node in Markdown!

[2020-04-12 06:54] Ir1d commented on #39
yeah I understand, that's nice. I believe using `$` only will be better, even though it takes more time to migrate, it's worth the effort.

[2020-04-20 08:40] wooorm opened #41 "rehype-mathjax: use `lightAdaptor` instead of `jsdomAdaptor` / `browserAdaptor`"
### Problem

JsDom is heavy, and an alternative to rehype, which we’re already using. It’s probably better to use `lightAdaptor` and map it to hast, instead of using `jsdomAdaptor` / `browserAdaptor` to create a DOM and then transform that to hast.

### Expected behaviour

Directly do mathjax -> hast, instead of mathjax -> dom -> hast

[2020-04-20 08:42] wooorm opened #42 "rehype-mathjax: mathjax is 500kb+ minzipped"
### Subject of the feature

MathJax’ SVG output is heavy, probably due to its font support, figure out a way to make it smaller.

### Expected behaviour

Not be 500kb+ in browsers or in Node.

[2020-04-20 10:04] nzt commented on #41
lightAaptor is also adaptor for lightDOM. Thus, mathjax -> dom -> hast is not changed.
If you want to do that, we should implement AbstractDOMAdopter abstract class to hast instead.
https://github.com/mathjax/MathJax-src/blob/5e9a5c66de610dd754a0377b278892ae4f007058/ts/core/DOMAdaptor.ts#L343

[2020-04-20 10:08] nzt commented on #42
I can add an option to use CHTML in MathJax, but that option require to add path to webfont.
As you said, almost part of 500kb+ are font. I agree that it is good to have a option for users.

[2020-04-20 10:28] wooorm commented on #41
Oh great, that looks better! I couldn’t find any docs on these things 🤔 is there some place where you find these things, or is it reading the code too?

[2020-04-20 13:33] nzt commented on #41
I've just read the code. Currently, the developers guide of MathJax is under construction. https://docs.mathjax.org/en/latest/api/direct.html

[2020-04-20 19:53] wooorm commented on #42
So the external font option is only available for CHTML? 🤔

The docs seem to suggest that MathJax defaults to CHTML, and they prefer that. What is the reason for preferring SVG here?

[2020-04-24 06:07] #42 closed

[2020-05-19 12:24] pacocom commented on #29
I have same problems Could not find a declaration file for module 'remark-behead'. 'c:/Users/Francisco/Documents/baikal-global/developers/node_modules/remark-behead/index.js' implicitly has an 'any' type.
  Try `npm install @types/remark-behead` if it exists or add a new declaration (.d.ts) file containing `declare module 'remark-behead';`

[2020-05-19 12:57] wooorm commented on #29
@pacocom hi, welcome! The chances of getting help on an in loses issue are very slim. I suggest opening a new issue on the project mentioned in your error: remark-behead

[2020-06-25 19:46] wooorm commented on #41
Was looking at this some more today, I won’t have a lot of time to work on it, but I think it would be a very valuable feature. @tani, is this something you could take on? Or someone else?

[2020-07-07 03:49] uetchy opened #47 "Adding type definitions"
### Subject of the feature

It would be awesome if we have a built-in type definition (`d.ts`) for TypeScript.
I want to make sure it's ok to ship the module with type definitions before sending a PR.

### Alternatives

What are the alternative solutions?  Please describe what else you have considered?

[2020-07-07 03:58] ChristianMurphy commented on #47
Pull requests are welcome!

[2020-09-03 07:30] wooorm commented on #39
We’re not necessarily covering (la)tex here though: it’s about math in markdown in general, which could be mathml or asciimath syntax too.

And, see https://github.com/remarkjs/remark-math/issues/39#issuecomment-612572749: you can do this yourself if you want to!

[2020-09-08 19:24] ChristianMurphy commented on #39
@travigd there's a fine line here.
Adding configuration for markers _may_ have value to discuss on it's own.

The push back is on reason presented which appears to be "it's in latex, so it should be here".
That is a non-goal, markdown is not latex.

If you want a latex transformer, contributions towards https://github.com/syntax-tree/ideas/issues/6 are welcome!
If there is a markdown focused reaso

[2020-09-08 19:28] travigd commented on #39
Sure, sure, I get it.

From my perspective, I'm just trying to give the best experience possible to the users of my editor (users who are at least partially accustomed to the `\(` syntax). I'm not arguing that this project should support all things LaTeX (e.g., supporting `\begin{align}`), but I **am** arguing that supporting `\(` is a very pragmatic thing to do.

[2020-10-06 20:16] wooorm commented on #39
I don’t think it’d be good for markdown to standardize several syntaxes. I think we’re in a position to push for one syntax, as the most popular markdown parser, and I think we should do that. Again: you can do whatever you want with plugins, but I don‘t think we should make it easier.

[2020-12-23 10:03] rnarkk opened #52 "I installed remark@13.0.0 but remark-math keeps warning me"
I'm using `remark-math` with `@mdx-js/loader`.

At build time, it keeps raising this warning and actually it never convert `$` and `$$`s.

`[remark-math] Warning: please upgrade to remark 13 to use this plugin`

[2020-12-23 10:15] wooorm commented on #52
MDX is on remark@12, so the warning is correct, and this is an external problem.
You can use the previous version of remark-math for now, as mentioned in the [readme](https://github.com/remarkjs/remark-math/tree/main/packages/remark-math#important).

[2020-12-23 10:15] #52 closed

[2020-12-23 11:57] rnarkk commented on #52
That helped a lot so thank you.

[2021-01-03 19:49] MartyO256 opened #53 "rehype-mathjax: allow configuration of TeX input processor"
### Problem

The options for the `rehype-mathjax` plugin are not that of the whole MathJax instance.
Rather, they are only the options for the  [SVG output processor](http://docs.mathjax.org/en/latest/options/output/svg.html).

Hence, it is currently not possible to configure the [TeX input processor](http://docs.mathjax.org/en/latest/options/input/tex.html), in order to, for example, enable autom

[2021-01-04 09:29] wooorm commented on #53
hi there!

A PR would be welcome to support tex input options. I’d prefer not to introduce a breaking change though by changing the options format in a braking way. Also: note that `rehype-mathjax` supports CHTML and a browser version (for loading mathjax in browsers) too

Instances of rehype indeed should be reusable for multiple documents

[2021-01-07 16:20] MartyO256 commented on #53
Upon closer inspection, I think it would be more useful to be able to configure the input and output processors using the VFile data rather than the plugin options.
That is because [TeX macros](http://docs.mathjax.org/en/latest/input/tex/extensions/configmacros.html#tex-configmacros) are most likely to be declared for specific documents (in the frontmatter of markdown files for instance).
This req

[2021-01-08 08:27] wooorm commented on #53
What would be the benefit of using different custom macros in different files? It sounds rather confusing to reason about in my opinion define `X` and `Y` for one page, and a `Z` and a different `Y` for another page.

The browser plugin passes math through uncompiled, so that MathJax in a browser can deal with it. So configuration would still live, as it already does, in the browser, and be the re

[2021-01-08 16:04] MartyO256 commented on #53
The benefit would be the ability to define TeX macros in a way that is similar to how you would declare them in the preamble of LaTeX documents. Admitedly, [the newcommand extension](http://docs.mathjax.org/en/latest/input/tex/extensions/newcommand.html) already enables adding macros on the fly in the contents of the document, and having macros in the preamble raises issues as to how to merge opti

[2021-01-09 10:47] wooorm commented on #53
Yeah, I think `tex` prop in the options that are now passed to either `svg` or `chtml`, would indeed be an acceptable solution for now! And indeed: the docs should be clearer on what `options` is, too.
I’d appreciate a PR for that!

---

I’m fine discussing this too, although I’m bit unclear about your use case. And we can discuss this separately

[2021-01-20 21:49] tani commented on #53
I agree with @MartyO256 . Classical LaTeX processors usually works for **a file** and not for a string.
Using same mathjax instance for file by file would be a reasonable option. I, however, have no idea to extend this plugin at this moment.

[2021-02-02 14:05] dingran commented on #53
@wooorm @MartyO256  actually I'm a little confused about what `options` should look like, in the docs it seems as though it is something directly passed to MathJax, so I thought the following would be acceptable

[code]

adding that to the example.js

unified()
  .use(parse, { fragment: true })
  .use(mathjax, **options**)
  .use(stringify)
  .process(vfile.readSync('example.html'), function (err,

[2021-02-02 14:25] MartyO256 commented on #53
@dingram in that `example.js` file, the options are that of the [SVG output processor](http://docs.mathjax.org/en/latest/options/output/svg.html). That is, the options default to the following:

[code]

Making the `rehype-mathjax` options match that of MathJax will require breaking changes. #54 introduces hacks to allow configuring the TeX output processor by extending the options type, but these

[2021-02-02 22:38] dingran commented on #53
@MartyO256 I see, thanks for doing this!

[2021-02-05 13:56] #53 closed

[2021-03-11 03:32] majiang opened #55 "react-markdown example"
I'm rather new to TypeScript but would like to use this package with [react-markdown](https://github.com/remarkjs/react-markdown).  I've successfully loaded remarkGfm as following.  However, when I insert an equation, it is not properly processed.

[code]

## Expected Behavior
* LaTeX equations enclosed in `$`..`$`, `$$`..`$$`, `\(`..`\)`, or `\[`..`\]` are converted to KaTeX equations.

## Observ

[2021-03-11 03:48] ChristianMurphy commented on #55
It is properly processed.
react-markdown currently does not support rehype plugins, like rehype katex https://github.com/remarkjs/react-markdown/issues/427
The error you are seeing says that there isn't a renderer for the `inlineMath` node type.

You can add a renderer by following the guide in the README for react-markdown https://github.com/remarkjs/react-markdown#use-a-plugin-and-custom-rendere

[2021-03-11 03:48] #55 closed

[2021-03-11 04:35] majiang commented on #55
Thank you @ChristianMurphy , I've followed your first suggestion and my equations are now rendered!

Now `$`..`$` is rendered as expected but `$$`..`$$` is also rendered as inline.  `\(`..`\)` and `\[`..`\]` is still plaintext.  I'll look into this for myself.

[2021-03-11 04:46] ChristianMurphy commented on #55
https://github.com/remarkjs/remark-math/issues/39

[2021-03-18 06:39] rxliuli opened #56 "Esmodule version of the introduction of hast-util-from-dom leads to errors..."
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `rehype-mathjax@3.1.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

![image](https://user-images.githubuse

[2021-03-18 07:14] tani commented on #56
First, I am not a member of this project, but I am original author of this package.
I have been also faced this problem about a decade month ago.
I guess this is an issue of `hast-util-from-dom`, which package should be compiled as an esmodule.
The es6 and esmodule support is the ongoing task of this porject. Please read https://github.com/unifiedjs/rfcs/pull/4 .

[2021-03-18 10:19] wooorm commented on #56
This is also definitely something your bundler can fix. And some of them do. So you might be able to solve it there.

[2021-03-18 11:06] rxliuli commented on #56
I tried it in the create-react-app failed, I believe that most applications will fail.

[2021-03-18 11:34] wooorm commented on #56
webpack 4 has a lot of bugs

[2021-03-18 11:37] rxliuli commented on #56
I don't know if WebPack has an error, but I know that if WebPack / Rollup can't be compatible, it will use it very unfriendly.

[2021-03-18 11:39] rxliuli commented on #56
Just like I do above, if each user encounters this error, then time you will find the source code to modify it, otherwise you may directly abandon the use of it (each tool is easy to use does not mean them together)

[2021-03-20 03:42] Stvad opened #57 "When there are non space characters after $$ the parser ends up interpreting the whole doc as part of the node (v3)"
When trying to parse the following document:

[code]

I end up with the following HTML:

[code]

So the $$ latter is not interpreted as the end of the node and the rest of the document is consumed =\

### Your environment

*   **OS**: macOS 10.15.7
*   **Packages**: `remark-math` 3.0.1.
*   **Env**: Node v15.6.0
* This is done in the context of Gatsby & gatsby-plugin-mdx (1.10.1) and hence remark

[2021-03-20 08:04] wooorm commented on #57
This is in line with how fenced code works too. Take this markdown.

[code]

# Debug

[code]

[2021-03-20 10:42] wooorm commented on #56
Webpack 5, Rollup, and Node support the way it is now. Your patch will break them.
For CRA, see: https://github.com/facebook/create-react-app/issues/9994.

---

We (+ much more of the JS ecosystem) are moving to full ESM over the coming months: https://github.com/unifiedjs/unified/issues/121

[2021-03-20 10:47] rxliuli commented on #56
CRA migration WebPack 5 is a long-term process, so far, it has been completed 24%, then, the remark-math will be unavailable during this time before really complete.

I am not opposing to support better ESModule standards, just want to remind, do compatibility processing. . .

[2021-03-20 12:34] wooorm commented on #57
Closing this as it’s intended behavior documented in the changelog: https://github.com/remarkjs/remark-math/commit/9b4b3c3b709a4a2a9e9e1830a80b823ac4fad079

[2021-03-20 12:44] wooorm commented on #56
Why did you mention CRA before if you are now talking about (+ the links you share) Rollup?

This package is CJS. It uses a require to load a dual CJS/ESM package. Your bundler *should* use the CJS file. If it doesn’t, it’s either a bug there or it has to be configured in some way.

[2021-03-20 12:58] rxliuli commented on #56
So how should rollup configure the Hast-util-from-DOM using a CommonJS version of REHYPE-MATHJAX?

[2021-03-20 15:22] wooorm commented on #56
Re this earlier message by @tani, what was your solution?

@rxliuli Can you answer this earlier question?
Otherwise, can you make a small reproduction: your project is giant, and I don’t have time to debug everything?

[2021-03-20 15:43] rxliuli commented on #56
Because I also need to use MarkDown in the CRA project in the production environment, ITMDOWN-IT is currently used, but I want to unify them.

[2021-03-20 15:44] rxliuli commented on #56
Forget it, I temporarily close this problem. Anyway, the question has been temporarily solved, and there is at least other options if not. . .

[2021-03-20 15:44] #56 closed

[2021-03-20 19:15] Stvad commented on #57
I see, this is unfortunate 🙁.  This has really bad consequences when used with MDX - if you interleave this somewhere within the document - it's gonna consume JSX components/any meta code/etc after till the end of the document =\. Leading to MDX failing to parse things

[2021-03-20 20:15] wooorm commented on #57
Please elaborate.

[2021-03-23 07:00] Stvad commented on #57
I've described my context in https://github.com/mdx-js/mdx/discussions/1477#discussioncomment-511668 which I believe you saw.
If a snippet like described in this issue - gets passed in to me as an input and I put it into an MDX document - It's going to corrupt the overall constructed document as it's going to consume the closing tag for it's section and the rest of the document making the parsing

[2021-03-23 07:31] wooorm commented on #57
That’s how things work. If you pass `<div></div>` to an HTML parser, it’s going to see an element. If you pass `console.log(1)` to a JavaScript parser, it’s going to see a function call.

This isn’t an issue here (https://xyproblem.info): it has to do with the overall discussion over there

[2021-03-24 08:32] wooorm commented on #57
whoops 😅 should be closed I think

[2021-03-24 08:32] #57 closed

[2021-04-24 11:13] karuifeather opened #58 "Update Katex from 0.12.0 to its latest available version 0.13.2 [rehype-katex]"
### Update Katex from 0.12.0 to its latest available version 0.13.2

The current version gives a nasty `Katex Parse Error: No environment found...` when processing Latex that involves `\begin{equation}` and other similar features.

### Your environment

Is irrelevant.

### Steps to reproduce

This markdown causes it to trip.

[code]

### Expected behavior

Math should be correctly converted to HTM

[2021-04-24 12:57] #58 closed

[2021-04-24 12:57] wooorm commented on #58
thanks, fixed!

[2021-08-03 08:09] nicholasjng opened #60 "Overload resolution fails for rehype-katex"
### Subject of the issue

I am using a markdown processing pipeline in a next.js project with `rehype-katex` (shown below), and after upgrading some packages, I have been unable to compile my code (I'm using typescript) due to an overload resolution problem.

### Your environment

*   **OS**: macOS 11.5.1 on Apple M1
*   **Packages**:   "rehype-katex": "^5.0.0", "rehype-stringify": "^9.0.1", "rema

[2021-08-03 08:15] wooorm commented on #60
We’re upgrading all projects to ESM and strongly types TS through JSDoc (https://github.com/unifiedjs/unified/issues/121).
Almost everything is done now, except for the remark org. Expect them to be done in a couple of days.

For now: https://github.com/rehypejs/rehype/discussions/63

[2021-08-03 08:22] nicholasjng commented on #60
Thank you for the quick response! I will try and go with the `@ts-expect-error` suggestion you made in the linked issue for the time until the upgrade lands.

[2021-08-03 08:30] #60 closed

[2021-08-18 18:44] nmanumr opened #61 "Comment support for katex"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2021-08-18 18:46] nmanumr commented on #61
In reality, newlines are being ignored in by toText method here: https://github.com/remarkjs/remark-math/blob/main/packages/rehype-katex/index.js#L42

If you use `hast-util-to-string` instead of `hast-util-to-text` the problem gets resolved.

[2021-08-23 09:19] #61 closed

[2021-08-24 19:01] SamyPesse opened #63 "Option to accept double dollar ($$) for inline maths"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2021-08-25 07:25] wooorm commented on #63
I modelled math after inline code, so escapes don’t work inside it, and spaces can be used to wrap just a single dollar, such as for `$$ \$ $$`, in which case they are stripped. The same can we done with code: ``` `` ` ``  ```.

I also experienced the problem you have with financial data, so I think it’s fine to make this an option.

What name would you suggest?

<details><summary>(note: can you f

[2021-08-25 07:35] SamyPesse commented on #63
I'm probably biased by my experience with math formula in markdown at GitBook, but I think it should be the default to use `$$` for text since it's a safer default option (`$$` works for all content, while `$` can conflict with financial data)

(*Before looking at your suggestions*) a few names i think could work:

- `forceDoubleDollars` (default to `false` for compatibility, until a breaking chan

[2021-08-25 08:28] wooorm commented on #63
Hmm, what do you think of `singleDollarTextMath`?
`singleDollarText: true` might sound to some as if single dollars would turn into text, but the actual result is the inverse.
`singleDollarTextMath: true` sounds much more like what’s going to happen? 🤔

[2021-08-25 09:01] SamyPesse commented on #63
Perfect 🙌

[2021-08-25 09:39] #63 closed

[2021-08-25 09:43] wooorm commented on #63
Released!

[2021-08-25 18:32] Wekananda opened #64 "TypeError: Cannot read property '3' of undefined when render Matrices with double $ sign"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2021-08-26 08:08] #64 closed, assigned to nobody

[2021-08-30 02:39] jackykwandesign opened #65 "katex error: Module parse failed: Identifier directly after number"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2021-08-30 03:55] ChristianMurphy commented on #65
The error is coming from `hast-util-to-text`.
This is being discussed at https://github.com/syntax-tree/hast-util-to-text/issues/4#issuecomment-907794296

[2021-08-31 14:05] ustcsy commented on #65
same problem, React 17.0.2

[2021-08-31 14:06] wooorm commented on #65
Then please comment on the place where the discussion is being held about this problem with details.

[2021-09-05 21:29] uuykay opened #66 "Allow users to pass the option displayMode true"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2021-09-05 21:47] uuykay commented on #66
Ok I just played around with it, and displayMode is supported by doing
[code]
I missed this because when writing displayMode in my files, I was doing

[code]

[2021-09-05 21:47] #66 closed

[2021-09-15 14:20] MagicMarvel commented on #65
I am a freshman in programing and can't understand your solution, but i found using the specific version remark-math@4.0.0 would deal with this problem.

[2021-09-15 14:22] wooorm commented on #65
Please see the linked discussion, read through it, and provide information there

[2021-09-29 20:34] maclockard opened #67 "rehype-sanitize breaks math rendering"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2021-09-29 21:44] maclockard commented on #67
After some fiddling, I found a schema for sanitize that seems to allow for katex to work:
[code]

However, I'm unsure of the security implications of allowing some of these tags/attributes. Specifically `svg`, `path`, and allowing the attributes `className` and `style` on `span`.

Full sandbox + some "tests": https://codesandbox.io/s/react-markdown-debug-forked-6k0nv?file=/src/App.js:551-1247

<de

[2021-09-30 07:32] wooorm commented on #67
Hey Mac!

This works as intended, as GitHub does not allow SVG/MathML.

Indeed, specifically `style` and `className`, are unsafe. I don’t think `svg` / `path` are inherently unsafe as we’re allow-listing so everything inside it is stripped.

`rehype-sanitize` is two things: a) a default schema that matches GitHub, which does not allow SVG/MathML, b) a plugin to sanitize based on any rules, default

[2021-09-30 20:54] maclockard commented on #67
Wow! I really appreciate the detailed breakdown, this really help cement my understanding of safe/unsafe here.

Something I'm wondering though is if I trust both rehype-katex and katex, couldn't I put the plugin after rehype-sanitize step?

So basically just do something like this:
[code]
Full sandbox: https://codesandbox.io/s/react-markdown-debug-forked-4e4yo?file=/src/App.js

<details>
  <summar

[2021-10-01 06:43] wooorm commented on #67
Yes, definitely!
Another example is the unified website, where arbitrary readmes are rendered. Those readmes are of course unsafe and have to be sanitized. But the “chrome” around it I do trust, and I don’t have to sanitize that.

So indeed, your example is safe (enough)!

[2021-10-01 18:03] maclockard commented on #67
Awesome! thanks for you help. I'm going to make a PR adding a little snippet under security mentioning this solution

[2021-10-26 13:55] abeeonthemoon opened #69 "Inlcude support for mhchem in the rehype-katex module"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2021-10-26 22:54] #69 closed, assigned to nobody

[2021-11-08 14:55] #65 closed

[2021-11-08 14:55] wooorm commented on #65
solved over there

[2022-01-12 02:15] msukmanowsky opened #71 "rehype-katex fails with new NextJS TypeScript Project"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-01-12 03:18] ChristianMurphy commented on #71
This is not an issue with `remark-math`, `rehype-katex`, or`mdx`. I'm not sure it's an issue with next either.
Running MDX 2 and Next 12, with the official `@mdx-js/loader`, it's able to run `remark-math` and `rehype-katex` fine.
https://codesandbox.io/s/next-mdx-math-katex-vd1qx?file=/next.config.mjs

<details>
<summary><em>next.config.mjs</em></summary>

[code]

</details>

This is likely relate

[2022-01-12 03:18] #71 closed

[2022-01-12 17:02] eric-burel commented on #71
Hi, for the record `rehype-mathjax` doesn't have an error message but seems to fail silently as well. Will try mdx v2.

[2022-01-13 11:37] Enteleform opened #72 "invalid javascript @ generated object keys"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-01-13 12:45] wooorm commented on #72
Thanks for the report! I fixed it in xdm (expect a release in a minute), and will release it in MDX in the next RC / actual release (a week or two?).
I’ll close this issue here because there are no code changes required in `remarkjs/remark-math`!

[2022-01-13 12:45] #72 closed

[2022-01-13 14:22] Enteleform commented on #72
@wooorm

Awesome, thanks for the quick fix!

Managed to get it working `chtml`, but not `svg`:

![image](https://user-images.githubusercontent.com/10906415/149342945-0c2d6fdc-a547-4cc2-a696-6c70d18bb7bc.png)

Based on the docs it seems like no additional config should be required for `rehype-mathjax/svg.js` to work, not sure if I'm missing something here?

Can provide more info if needed!

-----

[2022-01-13 14:49] Enteleform commented on #72
Also just noticed this:

![image](https://user-images.githubusercontent.com/10906415/149351841-0618359f-2d0d-4052-87e7-3c1a8145f25c.png)

It seems that the base URLs for fonts has changed from
[code]

to
[code]

[2022-01-13 15:16] wooorm commented on #72
Interested in working on a PR for the URL change?
For SVG, yes, more info would be useful. See https://github.com/remarkjs/.github/blob/main/support.md on how to help us help you!

[2022-01-13 17:33] Enteleform commented on #72
Just forked the repo but didn't find any `jsdelivr` references other than in a few `readme` files.

![image](https://user-images.githubusercontent.com/10906415/149379790-66435880-2731-45d2-abdc-68d1c892e3ef.png)

&nbsp;

Here's a minimal repro:
https://codesandbox.io/s/mathjax-svg-render-issue-u4h0h

[2022-01-13 17:54] wooorm commented on #72
- I meant a PR to the docs, indeed.
- Your issue is not reproducible without Vite or Solid (here’s a start with just xdm and react: https://codesandbox.io/s/xdm-create-react-app-starter-71mp9). I am assuming it’s Solid.js.

[2022-01-14 08:30] wooorm commented on #72
I’m assuming Solid + JSX + SVG.

One is a plain text file. The other is a backticked string in JavaScript. JavaScript eats the `\` escapes. You must escape the backslashes for JavaScript. I think that’s what you mean?

[2022-01-14 09:22] Enteleform commented on #72
Ah yeah, that was the issue. Ok I'll try diffing that result against the one from Solid & see if anybody @ their Discord might know what's going on if I can't figure it out. Thanks for the assistance!

[2022-01-15 08:52] mdynnl commented on #72
😁 Chiming in. svg didn't work because `hastscript` transforms `xlink:href` attributes or any other in the `iri:attr` form to `xlinkHref` which can be seen in rendered-html from https://github.com/remarkjs/remark-math/issues/72#issuecomment-1012182083
`hastscript` output can't be reverted back to the original html(a hunch).
I guess vdom libraries can handle this fine probably via aliasing `xlinkHre

[2022-01-15 10:59] wooorm commented on #72
Hi Nyi Nyi!

Yes, thanks for finding the precise cause.
To add, this is not so much about hastscript though. This is about how React expects JSX to be authored: https://stackoverflow.com/questions/26815738/svg-use-tag-and-reactjs.
This is why I pointed to Solid + JSX + SVG as the root cause.

Similar to a VDOM `_jsx` runtime, the SolidJS runtime could also handle attributes. Why not? How would it

[2022-01-15 11:23] mdynnl commented on #72
After digging more, I've come to know there are reason why things are the way things are. Don't have any opinion atm. Pretty overwhelmed by standards but here's a sorta working example https://codesandbox.io/s/mathjax-svg-render-issue-forked-pk07y?file=/vite.config.ts
*I was working on this and the commented popped up so continuing*

Yes, which I did there. The reactivity is kinda limited with jsx

[2022-01-15 11:30] Enteleform commented on #72
Hey so we've been discussing this over @ [Discord/SolidJS/help](https://discord.com/channels/722131463138705510/722349143024205824/931637419613253692), and it seems that `solid-jsx` has been succeeded by `solid-mdx`.

Before making the switch, I ran a diff against updated versions of the initial repros I submitted:
![](https://i.imgur.com/xj2M2Ea.png)

&nbsp;
After switching to `solid-mdx`, it sta

[2022-01-15 11:50] wooorm commented on #72
Why not use markdown? Markdown outputs HTML.
The goal of MDX is to ditch HTML in favor of JS(X).

This package has no documentation and is only a few days old.
If `solid-mdx` provides a proper automatic JSX runtime that works with MDX, then it shouldn’t be called `solid-mdx`: it should be called `solid-jsx`.

---

Yes. Want to work on a PR?

[2022-01-15 12:26] Enteleform commented on #72
This is a bit lower level stuff than I'm used to working on, but could take a shot at it perhaps.

I managed to get it rendering properly with a few replacements run after the initial transform:

![image](https://user-images.githubusercontent.com/10906415/149621657-f457cb62-bc4c-486a-bdbc-39895c3c85ed.png)

[code]

Do you think there's a way it could be set up to where it would work for both React

[2022-01-15 12:36] wooorm commented on #72
- The form of attributes is a solid/solid-jsx/solid-mdx problem. It is not a bug in xdm or MDX.
- `</_components.mjx-container>` and `mjx-container` are not bugs in xdm or MDX either. Those are valid JSX.
- `</_components."mjx-container">` is a bug in xdm and MDX. I was hoping you might be interested in working on a PR for that.

[2022-01-15 14:57] Enteleform commented on #72
Gotcha, I'm wondering if there are any steps that could be taken to facilitate interop between `mdx-js`/`xdm` and non-React libraries like Solid. Perhaps this could be accomplished with additional config options that affect the transformation process. Is something you'd welcome as a PR?

If so, I could be open to working on this and could also forward the info to the Solid community; although as o

[2022-01-15 16:01] wooorm commented on #72
Yes there is. The glue is called `solid-jsx`. That’s the bridge between JSX and frameworks. It has bugs and **it should be fixed**. Please see https://github.com/remarkjs/remark-math/issues/72#issuecomment-1013662003.

[2022-01-15 19:33] Enteleform commented on #72
Ok I'll look into this further when I get a chance and dig into the source code of all of the involved libraries. It's tough to tell what's going on without prior experience with this ecosystem & AST work, and also to know where this needs to be addressed because both sides are claiming that the other is where the issue lies.

I appreciate your time & explanations!

[2022-01-16 10:20] mdynnl commented on #72
Does MDX choose to support it?
https://codesandbox.io/s/sharp-browser-ebt2t?file=/src/index.js

I found it but holding because of the above.

I can work on both.

[2022-01-16 10:44] wooorm commented on #72
I believe I‘ve mentioned a few times now that you can use `property-information` inside `solid-jsx` to solve this.
To clarify, `solid-jsx` takes properties here: https://github.com/high1/solid-jsx/blob/e0264f9d4fbd67a46b8b8f8d16e867393fd0bd3f/src/jsx-runtime.tsx#L8.
You can add code there to turn `className` into `class`, and all the other transformations where the React form differs from the Soli

[2022-03-01 12:11] jackykwandesign opened #74 "The dollar sign is not showing in single $ quote"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-03-01 13:30] wooorm commented on #74
This is intentional behavior. The same occurs for code.

[code]

[code]

[code]

`
`10
`

[2022-03-01 13:30] #74 closed

[2022-06-18 05:42] m4ttsch commented on #74
Hey! I am also seeing this behavior. Is there a way to render escape dollar signs in inline-mode or am I SOL?

[2022-06-18 09:14] wooorm commented on #74
Yes there is. Just like with code, use more dollars.

    Aaa $$ math $ also math $$ bbb

[2022-07-07 08:07] FunkMonkey opened #75 "rehype-mathjax should not have a dependency on @types/web"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-07-24 14:40] FunkMonkey commented on #75
Hi @wooorm,

Thank you for the quick reply!

I get that you want to be in control of which version of the DOM types are used and that `@types/web` is the way to do so.

I agree that it is [debatable](https://stackoverflow.com/questions/45176661/how-do-i-decide-whether-types-goes-into-dependencies-or-devdependencies), whether `@types/whatever` should be in `dependencies` instead of `devDependencies

[2022-07-24 14:58] wooorm commented on #75
That is not really the reason. The reason is I don’t want end users to *have* to enable `'dom'`, because this project also works well in other environments that are not browsers. For example, with parse5.

The difference is as follows, given that you develop app *A*, which uses my package *B*, and my package uses types from package *C*.
If *B* depends on *C* as a **dev-dependency**, you get TypeSc

[2022-08-25 15:02] wooorm opened #77 "Generate (`pre` and) `code` elements instead of `div`, `span`"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-09-05 13:18] abhinandshibu opened #78 "Hard break identifier immediately preceding $$ is not registered as a hard break."
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-09-05 13:29] wooorm commented on #78
I don’t quite understand what you are asking: you have superfluous slashes in your code and you keep using one superfluous space, but one space does nothing.

If you are asking about:

[code]

And that that `\` does not produce a hard break.
Then that’s correct. Hard breaks work *inside* paragraphs. Not at the end of them.

If you are asking about something else, can you please clarify your exampl

[2022-09-06 08:39] abhinandshibu commented on #78
I see, apologies that is my misunderstanding.

[2022-09-06 08:39] #78 closed